.eclipse1{
width: 21px;
height: 21px;
top: 3px;
left: 9px;
opacity: 1;
background-color: #FF0000;
border-radius: 50%;
}
.eclipse2{
width: 21px;
height: 21px;
top: 3px;
left: 40px;
background-color: #FF9900;
opacity: 1;
border-radius: 50%;
margin-left:10px;
}
.eclipse3{
width: 21px;
height: 21px;
top: 3px;
left: 71px;
background-color: #33EB06;
opacity: 1;
border-radius: 50%;
margin-left:10px;
}
.round-container{
  display: flex;
}
.NewChat-Container{
width: 208px;
height: 47px;
top: 26px;
opacity: 1;
background-color: #D7C7F4;
}
.img1{
  width: 33.5791015625px;
height: 32px;
top: 33px;
left: 16.42px;
opacity: 1;
}
.newchat{
  width: 89px;
height: 23px;
top: 42px;
left: 72px;
opacity: 1;
font-family: Ubuntu;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
}
.img2{
  width: 24px;
height: 24px;
top: 41px;
left: 180px;
opacity: 1;

}